<nav id='navigation' style='display: flex; justify-content: space-between;'>
  <%# Users %>
  <% if authenticated? %>
    <%= link_to t('nav.home'), root_path %>
    <%= button_to t('nav.logout'), session_path, method: :delete %>
  <% else %>
    <%# Guests %>
    <%= link_to t('nav.login'), new_session_path, style: 'flex: 1' unless current_page? new_session_path %>
  <% end %>
</nav>
